In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String

In [3]:
import sqlite3
import os
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper

In [4]:
#set the file name to read the excel sheets
xls_file_name='Annual_Expenditures/GDX_FY15.xlsx'
sql_file_name='Annual_Expenditures/GDX_FY15.db'

#path of the excel file to get all the sheets from the excel file into xls sheet name list
xls = pd.ExcelFile(xls_file_name)
print(xls_file_name)
print(xls.sheet_names)

Annual_Expenditures/GDX_FY15.xlsx
['State Level Expenditures', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'PR', 'GU', 'Data Description']

In [5]:
#For loop to get the sheet name for excel file
for sheet_name in xls.sheet_names:
    
    #print the sheet name
    print(sheet_name)
    
    #set the table name 
    sqlite_table = "tbl_"+sheet_name
    
    #print name of the table
    print(sqlite_table)
    
    #read the excel sheet in the pandas dataframe
    #with the argument sheet_name.
    df = pd.read_excel(xls_file_name, sheet_name=sheet_name, index_col=None)
    
    if (sheet_name == 'State Level Expenditures'):
        print('SLE_DERYA',sheet_name)
        df.drop([0,2,4], axis=0, inplace=True)
        #df.drop([2], axis=0, inplace=True)
        #df.drop([3], axis=0, inplace=True)
        df.drop("Unnamed: 3", axis=1, inplace=True)
        df.drop("Unnamed: 4", axis=1, inplace=True)
        df.drop("Unnamed: 5", axis=1, inplace=True)
        df.drop("Unnamed: 6", axis=1, inplace=True)
        df.drop("Unnamed: 7", axis=1, inplace=True)
        df.drop("Unnamed: 8", axis=1, inplace=True)
    else:
        print('A STATE NAME:',sheet_name)
        df.drop([0], axis=0, inplace=True)
        #df.drop([2], axis=0, inplace=True)
        #df.drop([3], axis=0, inplace=True)
        df.drop("Unnamed: 3", axis=1, inplace=True)
        df.drop("Unnamed: 4", axis=1, inplace=True)
        df.drop("Unnamed: 5", axis=1, inplace=True)
        df.drop("Unnamed: 6", axis=1, inplace=True)
        df.drop("Unnamed: 7", axis=1, inplace=True)
        df.drop("Unnamed: 8", axis=1, inplace=True)

    # print top 10 rows from dataframe
    print(df.head(6))

    print("=====================================")
    
    #create SQLite database connection
    conn = sqlite3.connect(sql_file_name)
    
    #store data into SQLite database table
    df.to_sql(sqlite_table, conn, if_exists='append', index=False)
    
    #close SQLite database connection
    conn.close()

State Level Expenditures
tbl_State Level Expenditures
SLE_DERYA State Level Expenditures
               FY15 Summary of Expenditures by State           Unnamed: 1  \
1                                              State  Veteran Population*
3                                             Totals      21578655.196365
5                                             Alaska         73275.798836
6  Arizona                                       ...        528486.269785
7  Arkansas                                      ...        247887.621117
8                                         California       1802445.537339

          Unnamed: 2      Unnamed: 9         Unnamed: 10
1  Total Expenditure    Medical Care  Unique Patients **
3    167209899.94242  65560845.67361             5930130
5      584862.501348   254287.555308               19256
6     3757595.939695  1561351.513255              147953
7     2174053.018392   985496.943772               86908
8    14938931.479778  6077347.108928              467539
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

AK
tbl_AK
A STATE NAME: AK
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                        ALEUTIANS EAST           146.808704
3                        ALEUTIANS WEST           343.066207
4                             ANCHORAGE         30154.857859
5                                BETHEL            997.49648
6                           BRISTOL BAY            114.91978

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2         211.629481     134.484481                 11
3         219.911397     117.084397                 21
4      284739.589291  123212.767661               9005
5        1828.638544     952.552544                 97
6         314.965034     107.301034                <10
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

AL
tbl_AL
A STATE NAME: AL
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                               AUTAUGA            6062.8902
3                               BALDWIN         20173.040756
4                               BARBOUR          2397.603166
5                                  BIBB           1311.15305
6                                BLOUNT          4833.442525

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       49986.927498  12780.682498               1460
3      103194.796587  29138.286587               4657
4        16391.88172    4953.75572                624
5       11744.385492   4016.270492                471
6       23180.115616  11722.326616               1040
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

AR
tbl_AR
A STATE NAME: AR
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                              ARKANSAS          1462.217466
3                                ASHLEY          1649.340216
4                                BAXTER          5540.505475
5                                BENTON          19405.95825
6                                 BOONE           3550.76196

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       10493.247581   5563.746581                444
3       11925.310406   5196.213406                461
4       35095.473179  14657.232179               1976
5      120841.327618  57565.056618               6308
6       26913.755699  10875.910699               1343
=====================================
AZ
tbl_AZ

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: AZ
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                APACHE           4557.57458
3                               COCHISE         23257.955767
4                              COCONINO          9004.107893
5                                  GILA            6228.5482
6                                GRAHAM          2942.152776

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       27841.221239  10448.133239               1261
3       181863.44721   66484.82321               6892
4       48033.734574  19496.805574               2117
5       35541.699457  15639.647457               1808
6       15996.441978   8421.846978                763
=====================================
CA
tbl_CA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: CA
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                               ALAMEDA         56608.394624
3                                ALPINE           129.312602
4                                AMADOR          4306.113881
5                                 BUTTE         17696.289561
6                             CALAVERAS          5630.476678

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2      492636.140332  227062.619842              13186
3         295.023852      87.383852                 19
4       24408.520124   11993.280124                949
5      112274.757612   40159.367612               5085
6       33264.317698   15662.080698               1523
=====================================
CO
tbl_CO

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: CO
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS         30533.738492
3                               ALAMOSA          1081.460446
4                              ARAPAHOE         43704.633539
5                             ARCHULETA          1019.166813
6                                  BACA           374.208926

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2      194319.714122   81694.772122               6479
3        8660.445524    3406.840524                408
4      287641.387707  107025.815707               9397
5        8611.476587    3465.578587                436
6        1656.119053     843.622053                 85
=====================================
CT
tbl_CT

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: CT
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                             FAIRFIELD         37668.276644
3                              HARTFORD         52078.361161
4                            LITCHFIELD         14202.286644
5                             MIDDLESEX         11540.182787
6                             NEW HAVEN         46040.505183

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2       184570.42482    98690.21782               8377
3      294534.405674  137562.514544              12754
4        67608.39354    34023.43154               3329
5       58900.275004   30404.269004               2626
6      431926.848994  283447.087074              14129
=====================================
DC
tbl_DC

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: DC
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                  DISTRICT OF COLUMBIA         29470.469378
3                                   NaN                  NaN
4                           DC (Totals)         29470.469378
5                                   NaN                  NaN
6                       CONG. DIST (01)         29470.469378

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2      2960157.04022  239825.22712               8580
3                NaN           NaN                NaN
4      2960157.04022  239825.22712               8580
5                NaN           NaN                NaN
6      2960157.04022  239825.22712               8580
=====================================
DE
tbl_DE

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: DE
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                  KENT         19806.049719
3                            NEW CASTLE         34991.501603
4                                SUSSEX         22556.488843
5                                   NaN                  NaN
6                     DELAWARE (Totals)         77354.040165

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2      115578.547398   31383.141398               4010
3      223428.689668  110984.011058               7612
4       83270.437595   28486.962595               4035
5                NaN            NaN                NaN
6      422277.674661  170854.115051              15657
=====================================
FL
tbl_FL

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: FL
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                               ALACHUA         18515.305307
3                                 BAKER          2786.275234
4                                   BAY         23521.724932
5                              BRADFORD          4133.921137
6                               BREVARD         65914.759548

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2       248350.39752   157064.02907               7840
3       15093.522606    8043.891606                650
4      153717.748776   33046.382776               5756
5       24647.308335   15563.649335                956
6      550525.067062  193430.213612              23474
=====================================
GA
tbl_GA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: GA
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                               APPLING           1168.72705
3                              ATKINSON           421.452882
4                                 BACON           802.274603
5                                 BAKER           303.074345
6                               BALDWIN          4049.800932

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        6577.187425   2708.537425                373
3        3703.312785   1846.126785                193
4        4819.911411   1821.246411                210
5        1373.435409    452.099409                 63
6       24251.021779   9820.890779                970
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

HI
tbl_HI
A STATE NAME: HI
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                HAWAII         16528.637724
3                              HONOLULU         87657.693477
4                               KALAWAO             0.202844
5                                 KAUAI          5289.108529
6                                  MAUI         11006.748649

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2      109424.405426   46698.807426               4308
3      676173.942306  184701.504056              18320
4           4.209752       4.209752                <10
5       33892.615978   16424.230978               1464
6       68542.276433   29092.029433               2357
=====================================
IA
tbl_IA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: IA
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAIR            639.53444
3                                 ADAMS           370.913129
4                             ALLAMAKEE          1081.039621
5                             APPANOOSE           898.430882
6                               AUDUBON           534.605318

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        4568.439109   3317.786109                200
3        2291.715391   1491.676391                115
4        8664.462003   5054.427003                448
5        7931.541873   4140.548873                422
6        2913.440092   1224.953092                171
=====================================
ID
tbl_ID

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: ID
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                   ADA         32554.242522
3                                 ADAMS           468.051126
4                               BANNOCK          6088.229575
5                             BEAR LAKE           517.075123
6                               BENEWAH           981.838365

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2      284287.719114  129472.439264              11541
3           2991.461       1369.328                172
4       40302.407584   17054.114584               1953
5        1755.550162     825.540162                113
6        6493.480396    2759.570396                309
=====================================
IL
tbl_IL

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: IL
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          6208.211835
3                             ALEXANDER           659.654636
4                                  BOND          1353.161407
5                                 BOONE          3663.235723
6                                 BROWN           422.938161

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       32118.334516  12404.263886               1693
3        7071.652405   3998.819405                281
4        6496.732121   2732.136121                268
5       13029.110389   5497.738389                782
6        1348.368858    484.595858                 95
=====================================
IN
tbl_IN

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: IN
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1772.619809
3                                 ALLEN         23235.591008
4                           BARTHOLOMEW           5414.26759
5                                BENTON            683.97746
6                             BLACKFORD          1122.911756

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        7167.697031   3294.266031                476
3      154022.704989  82245.744829               7391
4       27170.497013  11837.705013               1252
5        3605.204457   1834.982457                178
6        7988.302337   3720.792337                404
=====================================
KS
tbl_KS

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: KS
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ALLEN          1256.750289
3                              ANDERSON           658.675098
4                              ATCHISON          1305.819839
5                                BARBER           362.614645
6                                BARTON          2023.641352

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        5512.922242   2623.585242                290
3        2918.066955   1404.612955                177
4        8574.214172   4532.255172                347
5        1934.474266   1012.841266                123
6        8300.647287   3659.882287                602
=====================================
KY
tbl_KY

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: KY
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAIR           1174.55494
3                                 ALLEN          1418.546973
4                              ANDERSON          1762.194771
5                               BALLARD           743.424598
6                                BARREN            2874.9816

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2         8127.67568    3196.41568                400
3        8982.726744   3373.935744                374
4       12394.871388   5263.317388                525
5         4457.80503    2241.03603                272
6       17813.521053   5999.217053                688
=====================================
LA
tbl_LA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: LA
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                ACADIA          3750.433125
3                                 ALLEN          1858.753374
4                             ASCENSION          6925.030646
5                            ASSUMPTION          1424.666137
6                             AVOYELLES          2989.372772

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       24792.286211  10507.692211               1061
3       12420.643049   5684.897049                548
4       36013.640045  12178.184045               1289
5        7210.874626   2853.726626                327
6       27085.314992  11512.023992               1166
=====================================
MA
tbl_MA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: MA
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                            BARNSTABLE         19688.576571
3                             BERKSHIRE          11141.24219
4                               BRISTOL         32743.092125
5                                 DUKES          1004.301377
6                                 ESSEX         41683.412558

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2      107898.288918  37601.389358               4723
3       57363.634071  27508.332071               2179
4      220416.190569  96700.823569               8114
5        3389.955619   1188.471619                199
6      235853.038874  97531.874874               8779
=====================================
MD
tbl_MD

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: MD
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                              ALLEGANY          6808.286089
3                          ANNE ARUNDEL         54118.812456
4                             BALTIMORE         57459.843472
5                               CALVERT          9331.063551
6                              CAROLINE          2887.601658

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2       38584.341631   18442.415631               2070
3      314740.502399   81596.869399               8496
4      305600.164482  148641.040482              11388
5       42462.001021    8714.485021               1053
6       13572.687048    6745.388048                565
=====================================
ME
tbl_ME

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: ME
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                          ANDROSCOGGIN          9963.614748
3                             AROOSTOOK           7380.97708
4                            CUMBERLAND         21767.434366
5                              FRANKLIN          2895.040733
6                               HANCOCK          5708.358865

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       74776.484696  29995.356696               3404
3       61480.876763  21591.461763               3134
4        127988.5954    43598.6604               5635
5       23507.676696  10637.967696               1080
6       32428.624813  12019.218813               1455
=====================================
MI
tbl_MI

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: MI
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                ALCONA          1546.590139
3                                 ALGER           902.193239
4                               ALLEGAN          7421.633935
5                                ALPENA          2825.774416
6                                ANTRIM          2266.169089

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        9868.654078   4839.157078                519
3        7806.799819   3572.537819                367
4       34520.091964  13547.664964               1569
5       16072.075815   7434.102815                967
6       12468.571078   4050.456078                562
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MN
tbl_MN
A STATE NAME: MN
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                AITKIN          1699.515866
3                                 ANOKA         22974.542038
4                                BECKER          2919.345046
5                              BELTRAMI          3182.734328
6                                BENTON          3345.416506

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       18210.774216   9750.729216                983
3      150557.909851  73106.402851               7280
4       23148.235087  12254.113087               1179
5        30676.74727   13887.25427               1344
6       30013.786109  19020.491109               1506
=====================================
MO
tbl_MO

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: MO
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAIR          1385.672786
3                                ANDREW          1394.181633
4                              ATCHISON            531.23941
5                               AUDRAIN          1895.922464
6                                 BARRY          2951.347848

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       10235.814391   4927.295391                585
3        6632.254678   3231.544678                419
4        2489.103693   1168.580693                139
5       16160.552872   8709.292872                966
6       20648.124772   9438.718772               1143
=====================================
MS
tbl_MS

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: MS
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          2117.863502
3                                ALCORN          2223.790121
4                                 AMITE          1088.737848
5                                ATTALA          1347.804683
6                                BENTON           475.437858

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       20169.326454   9875.173594               1066
3       16617.222271   4826.407901                568
4        6655.975616   3234.831616                378
5       13236.688986   6863.988986                517
6        2834.589054   1534.356054                116
=====================================
MT
tbl_MT

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: MT
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                            BEAVERHEAD           960.548006
3                              BIG HORN           879.233756
4                                BLAINE           579.069746
5                            BROADWATER           528.525444
6                                CARBON           852.849745

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        5831.279659   2676.080659                264
3        5839.447373   3368.588373                252
4        5504.431764   2984.493764                176
5       10430.550406   7581.801406                529
6        6771.552482   3821.194482                357
=====================================
NC
tbl_NC

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: NC
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                              ALAMANCE         11377.549746
3                             ALEXANDER          2779.374446
4                             ALLEGHANY           897.297824
5                                 ANSON          1651.638582
6                                  ASHE          1881.997336

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       78642.834763  40558.578763               2655
3        18875.44748    8442.27248                938
4        6190.042181   2556.483181                289
5       11223.664721   4634.938721                546
6       13140.323175   4241.135175                655
=====================================
ND
tbl_ND

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: ND
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS           197.684123
3                                BARNES           926.867362
4                                BENSON           400.078306
5                              BILLINGS           103.710848
6                             BOTTINEAU           647.427203

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        1395.645962    737.422962                 80
3         6795.25162    3766.77562                353
4        2597.058161   1231.448161                129
5           426.9546      335.1146                 53
6        3186.768984   1202.564984                176
=====================================
NE
tbl_NE

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: NE
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          2281.398583
3                              ANTELOPE           588.012234
4                                ARTHUR            26.726016
5                                BANNER            45.802171
6                                BLAINE            25.344364

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       22229.435227   8642.379227                926
3        5186.963899   2315.768899                239
4          61.436611     36.495611                 10
5         105.512009     33.472009                 13
6         362.351961    206.109961                 17
=====================================
NH
tbl_NH

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: NH
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                               BELKNAP          6085.909701
3                               CARROLL          5415.735542
4                              CHESHIRE          7034.947393
5                                  COOS          3334.621702
6                               GRAFTON          7364.962158

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       43088.988342  19092.060342               1783
3       27437.051843  11965.193843               1324
4        40447.74185   19365.32885               1807
5       23558.689533  11241.714533               1377
6       54528.491721  28621.509721               2546
=====================================
NJ
tbl_NJ

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: NJ
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                              ATLANTIC         17102.168289
3                                BERGEN          32245.79699
4                            BURLINGTON         33090.797746
5                                CAMDEN         29723.769066
6                              CAPE MAY          8590.309441

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       76567.579151  24883.595151               3105
3      148293.858454  53960.048454               6512
4      215797.056006  49560.031236               6199
5      160726.250698  53064.633698               5684
6       35682.700051   9859.915051               1620
=====================================
NM
tbl_NM

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: NM
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                            BERNALILLO         53445.988514
3                                CATRON           474.210994
4                                CHAVES          5240.021839
5                                CIBOLA          2136.386341
6                                COLFAX          1529.264483

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       598674.27827  266270.31215              18071
3        4319.748269   1680.349269                196
4       28997.181872  10761.643872               1294
5       20163.398241   9877.431241                720
6       12337.000606   4995.185606                556
=====================================
NV
tbl_NV

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: NV
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                             CHURCHILL          4197.598695
3                                 CLARK        151168.621575
4                               DOUGLAS          4746.133295
5                                  ELKO          4201.848431
6                             ESMERALDA           163.086844

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2       31816.376275   14269.971275               1265
3     1249042.686358  559457.086218              45465
4       30951.435163   14854.594163               1814
5       19623.283566   10781.099566                866
6          792.36716      522.23416                 43
=====================================
NY
tbl_NY

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: NY
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                ALBANY         19076.409524
3                              ALLEGANY          4090.837244
4                                 BRONX         33628.067181
5                                BROOME         14378.965022
6                           CATTARAUGUS          7274.466297

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2      136304.941041   77737.084551               4632
3       32920.421556   16286.535556               1491
4      400073.501028  251550.274878              10709
5       59422.875795   20718.886795               3220
6       51719.446881   22042.638881               2368
=====================================
OH
tbl_OH

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: OH
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1967.433777
3                                 ALLEN          8128.427508
4                               ASHLAND          3908.018455
5                             ASHTABULA          8800.233067
6                                ATHENS          3999.187909

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       17785.215961   8983.488961                760
3        41425.78765   15551.63265               1879
4       27060.754878  13331.147878               1298
5       58228.039744  30277.777744               3049
6       34087.625102  14784.778102               1264
=====================================
OK
tbl_OK

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: OK
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAIR           1348.59825
3                               ALFALFA           821.006734
4                                 ATOKA          1371.359977
5                                BEAVER           362.223116
6                               BECKHAM          1673.894878

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       16914.718164   6054.242164                546
3        1706.118777    592.184777                 83
4        9389.895414   3373.633414                378
5        1388.090685    578.564685                 90
6        7535.494437   2542.839437                303
=====================================
OR
tbl_OR

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: OR
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 BAKER          1938.940844
3                                BENTON          5960.242681
4                             CLACKAMAS         35164.665347
5                               CLATSOP          4278.244927
6                              COLUMBIA          6004.005534

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       17152.334838   7780.042838                858
3       31899.475721   9708.905721               1260
4      198847.061084  85377.489084               7552
5       30010.088026  13846.025026               1185
6       43543.854607  20229.471607               1691
=====================================
PA
tbl_PA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: PA
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          9224.528797
3                             ALLEGHENY          87964.86995
4                             ARMSTRONG          5986.419303
5                                BEAVER         16645.529554
6                               BEDFORD          4045.779697

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2       31638.610892   10717.365892               1533
3      627763.830394  352494.127744              21562
4       38757.999932   21648.796932               2135
5       77602.939657   36018.066657               5325
6       29365.907576   16018.895576               1592
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

RI
tbl_RI
A STATE NAME: RI
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                               BRISTOL          3583.782345
3                                  KENT         13967.900032
4                               NEWPORT          7670.096939
5                            PROVIDENCE         34322.662775
6                            WASHINGTON         10317.455814

          Unnamed: 2     Unnamed: 9        Unnamed: 10
1  Total Expenditure   Medical Care  Unique Patients**
2       28375.571403   15301.815403               1041
3       100466.84026    42741.84326               3934
4       46420.778249   14557.734249               1611
5      316669.983652  156560.856782              10941
6       53604.975366   19711.012366               2180
=====================================
SC
tbl_SC

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: SC
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                             ABBEVILLE          2175.723347
3                                 AIKEN         15442.141013
4                             ALLENDALE           720.960739
5                              ANDERSON          16255.44315
6                               BAMBERG          1559.109348

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2         15940.3972     5712.6842                764
3      113750.259851  55119.977851               5040
4        5692.922937   2764.418937                218
5        91693.48738   30149.89938               4454
6         9977.77245    3898.63145                399
=====================================
SD
tbl_SD

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: SD
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                AURORA           256.540051
3                                BEADLE          1588.488316
4                               BENNETT           169.446421
5                             BON HOMME           733.341411
6                             BROOKINGS            2019.6531

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        1797.913639    906.332639                 92
3        6906.331451   3490.587451                422
4        2758.023891   1906.568891                110
5        4471.171664   2727.947664                256
6       11951.470187   5834.060187                660
=====================================
TN
tbl_TN

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: TN
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                              ANDERSON          7837.502587
3                               BEDFORD          3248.658223
4                                BENTON          1747.216428
5                               BLEDSOE            899.65721
6                                BLOUNT         11828.739215

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       36929.991865  11310.333865               1607
3       23972.765513  11993.091513               1034
4       12852.009899   5208.471899                498
5        5194.624624   2433.644624                300
6       62832.353701  16170.810701               2559
=====================================
TX
tbl_TX

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: TX
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                              ANDERSON          4993.605004
3                               ANDREWS           810.116528
4                              ANGELINA          6123.708977
5                               ARANSAS          3040.730267
6                                ARCHER           809.964067

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       30973.578379  10865.085379               1291
3        3293.337021   1324.888021                151
4       48327.181488  18148.261488               2171
5       17352.087857   6263.882857                677
6        3239.542728   1328.665728                177
=====================================
UT
tbl_UT

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: UT
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                BEAVER           454.038949
3                             BOX ELDER          2888.195567
4                                 CACHE          4610.074688
5                                CARBON          1742.483243
6                               DAGGETT           109.542417

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        1545.534892    507.642892                 80
3       15643.149343   7536.328343                655
4       24062.642137   7970.042137                770
5       10539.026593   5352.406593                392
6        1216.939328    905.664328                 42
=====================================
VA
tbl_VA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: VA
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                              ACCOMACK          3611.690348
3                             ALBEMARLE          7152.555781
4                             ALLEGHANY          1719.239578
5                                AMELIA          1162.451098
6                               AMHERST          2758.527674

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       15479.647061   5323.418061                667
3       24989.920232   7313.860232               1026
4        7867.822157   5471.850157                525
5        9278.368292   5050.175292                359
6       14817.421452   6696.216452                734
=====================================
VT
tbl_VT

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: VT
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                               ADDISON          2268.428465
3                            BENNINGTON          3432.280015
4                             CALEDONIA          2550.775848
5                            CHITTENDEN          9704.387448
6                                 ESSEX            753.21092

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       11646.875979   4921.235979                677
3       20938.345929  11684.184929               1169
4       19328.839779  10008.559779                884
5       47160.810447  15178.397447               2354
6        6448.168322   3495.148322                306
=====================================
WA
tbl_WA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: WA
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS           904.444258
3                                ASOTIN          2314.175176
4                                BENTON         15443.996775
5                                CHELAN          5879.898712
6                               CLALLAM          9685.584092

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        3337.021968    891.879968                144
3       12626.355702   4608.339702                679
4       73134.839725  25131.581725               3316
5       26165.002463   8839.992463               1226
6       54246.367439  18041.551439               1980
=====================================
WI
tbl_WI

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: WI
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          2150.956669
3                               ASHLAND          1287.769076
4                                BARRON          3691.117392
5                              BAYFIELD          1697.143546
6                                 BROWN         16890.720354

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       18551.396182  12033.349182               1054
3         8429.08865    3539.18065                445
4       22670.509821  10317.488821               1319
5        9238.558077   4292.708077                538
6       99629.349901  44895.202901               5904
=====================================
WV
tbl_WV

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: WV
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                               BARBOUR          1122.804453
3                              BERKELEY          12183.43327
4                                 BOONE           1804.08463
5                               BRAXTON          1425.623074
6                                BROOKE          2326.234905

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       11956.271665   6328.233665                567
3      496454.402914  97485.531604               4325
4       14004.112798   5068.785798                558
5       15890.256682   9409.999682                637
6        9539.593901   4302.125901                538
=====================================
WY
tbl_WY

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: WY
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                ALBANY          2209.470541
3                              BIG HORN           970.095185
4                              CAMPBELL          3334.953149
5                                CARBON           1373.87929
6                              CONVERSE          1184.494128

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2       18754.128863   6133.614863                780
3        5553.819287   3098.129287                381
4       18444.889571  10773.505571               1110
5        8827.915075   5229.666075                415
6        5519.668127   2880.301127                339
=====================================
PR
tbl_PR

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: PR
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                              ADJUNTAS                  NaN
3                                AGUADA                  NaN
4                             AGUADILLA                  NaN
5                          AGUAS BUENAS                  NaN
6                              AIBONITO                  NaN

          Unnamed: 2    Unnamed: 9        Unnamed: 10
1  Total Expenditure  Medical Care  Unique Patients**
2        6775.329566   2044.093566                273
3       12220.577362   3689.610362                482
4       34460.556067  12608.499067               1176
5        9388.978663   5190.585663                308
6       15641.977829   4722.312829                428
=====================================
GU
tbl_GU

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: GU
  FY15 Summary of Expenditures by State           Unnamed: 1  \
1        County/ Congressional District  Veteran Population*
2                                  Guam          9493.483934
3                                   NaN                  NaN
4                                   NaN                  NaN
5                         Guam (Totals)          9493.483934
6                                   NaN                  NaN

          Unnamed: 2    Unnamed: 9        Unnamed: 10 Unnamed: 11
1  Total Expenditure  Medical Care  Unique Patients**         NaN
2          89961.123     20345.981               2934         NaN
3                NaN           NaN                NaN         NaN
4                NaN           NaN                NaN         NaN
5          89961.123     20345.981               2934         NaN
6                NaN           NaN                NaN         NaN
=====================================
Data Description
tbl_Data Description

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

A STATE NAME: Data Description

KeyError: "['Unnamed: 3'] not found in axis"

In [6]:
df.head(10)

                                         Note on Data
1   (a) Other sources may show Obligations or Net ...
2   (b) GDX contains expenditures for all 50 state...
3   (c) Other sources may include programs that ar...
4                                                 NaN
5                                        Introduction
6   Each Fiscal Year (FY), the Department of Veter...
7                                  Veteran Population
8   As of FY 2014, the estimated Veteran populatio...
9                           Compensation and Pension
10  The Compensation and Pension (C&P) category in...

In [7]:
df.to_csv('Annual_Expenditures/GDX_FY15.csv')